.pixel {
    width: 10px; 
    height: 10px; 
    float: left; 
    margin: 1px;
}

.large-pixel{
    width: 40px; 
    height: 40px; 
    margin: 1px;
}

#process-card #current-color {
    width: 44px;
    height: 44px;
    border: 1px solid #d4d4d4;
}

.display-none{
    display: none;
}

#logo-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

#logo-wrapper img {
    width: 60px;
}

#logo-wrapper .project-name{
    font-size: 18px;
    font-weight: 600;
    color: #3a3939;
    margin-top: 5px;
}

body {
    background-color: #ececec;
}